@import "treo";


image-cropper{
  display: block;
  max-width:1000px;
  max-height:800px;
  width: auto;
  height: auto;

}
button {
    .mat-icon {
        @include treo-icon-size(20);
        margin-right: 8px;

        @include treo-breakpoint("xs") {
            margin-right: 0;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
    $primary: map-get($theme, primary);

    mailbox-compose {
        .header {
            background: map-get($primary, default);
            color: map-get($primary, default-contrast);

            .mat-icon {
                color: map-get($primary, default-contrast);
            }
        }
    }
}
