@import "treo";

button {
    .mat-icon {
        @include treo-icon-size(20);
        margin-right: 8px;

        @include treo-breakpoint("xs") {
            margin-right: 0;
        }
    }
}

i {
    font-size: 12px !important;
}

.rightAligned {
    justify-content: flex-end;
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
    $primary: map-get($theme, primary);

    mailbox-compose {
        .header {
            background: map-get($primary, default);
            color: map-get($primary, default-contrast);

            .mat-icon {
                color: map-get($primary, default-contrast);
            }
        }
    }
}
