@import 'treo';

auth-forgot-password {

    .content-layout {
        align-items: center;
        justify-content: center;
    }
    .subtitle {
        font-size: 20px;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
