<!-- CampusName -->
<div class="address"
     *ngIf="log.CampusName || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.CampusName}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'CampusName'"
                   [placeholder]="'CampusName'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- MacAddress -->
<div class="address"
     *ngIf="log.MacAddress || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.MacAddress}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'MacAddress'"
                   [placeholder]="'MacAddress'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- FloorID -->
<div class="address"
     *ngIf="log.FloorID || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.FloorID}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'FloorID'"
                   [placeholder]="'FloorID'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- DeviceName -->
<div class="address"
     *ngIf="log.DeviceName || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.DeviceName}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'DeviceName'"
                   [placeholder]="'DeviceName'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- ISTimestamp -->
<div class="address"
     *ngIf="log.ISTimestamp || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.ISTimestamp}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'ISTimestamp'"
                   [placeholder]="'ISTimestamp'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- ActionCRUD -->
<div class="address"
     *ngIf="log.ActionCRUD || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.ActionCRUD}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'ActionCRUD'"
                   [placeholder]="'ActionCRUD'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- Admin -->
<div class="address"
     *ngIf="log.Admin || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.Admin}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'Admin'"
                   [placeholder]="'Admin'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
<!-- DeviceAction -->
<div class="address"
     *ngIf="log.DeviceAction || editMode">
    <mat-icon class="icon"
              [svgIcon]="'room'"></mat-icon>

    <!-- View -->
    <div class="view"
         *ngIf="!editMode">
        {{log.DeviceAction}}
    </div>
    <!-- Edit -->
    <div class="edit"
         *ngIf="editMode">
        <mat-form-field class="treo-mat-no-subscript">
            <input matInput
                   [formControlName]="'DeviceAction'"
                   [placeholder]="'DeviceAction'"
                   [spellcheck]="false">
        </mat-form-field>
    </div>
</div>
